.main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  align-items: center;
  background-color: grey;
}

.sub-main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 550px;
  width: 35%;
  /* box-shadow: 11px 12px 13px 12px rgb(207, 207, 207); */
  padding-top: 30px;
  /* border-radius: 60px; */
  background-color: #BEBEBE;
}
.image{
  padding-top: 20px;
  justify-content: center;
  display: flex;
}
/* .container-image{
  background-color: rgb(223, 221, 221);
  border-radius: 150px;
  align-items: center;
  display: flex;
  width: 115px;
  height: 115px;
} */

.profile{
  width: 80px;
  height: 80px;
  
}

input{
  width: 200px;
  height: 50px;
  /* border-radius: 60px; */
  /* box-shadow: inset 0px 0px 25px 0px #888; */
  border: none;
  outline: none;
  background-color: white;
}
  

.email{
  width: 30px;
  height: 30px;
  position: absolute;
  padding: 14px 0 0 25px;
  
}
.name{
  padding-left: 70px;
  font-size: 10px;
}
.second{
  margin-top: 20px;
}
button{
  height: 50px;
  width: 270px;
  border-radius: 60px;
  background-color: black;
  color: red;
  font-size: 25px;
}
.login-button{
  margin-top: 20px;
}
.hyper{
  font-size: 25px;
  font-weight: 400px;
}
a{ 
  color: blue;
}

